$color-black: #333333;
$color-dark-grey: rgb(151, 151, 151);
$color-grey: rgb(186, 186, 186);
$color-light-grey : #E3E3E3;
$color-white: #FFFFFF;
$color-background: #F5F5F2;
$color-orange: #F58220;
$color-light-orange: #FFA200;
$color-green: #04AE00;
$color-light-green: #74B67A;
$color-lighter-green: #96CC9B;
$color-dark-pink: #DE5252;
$color-pink: #EC7171;
$color-blue: #56819F;
$color-red: #FF0000;




