@import "variables";
@import "normalize";
@import "mixins";

/* Components */
@import "components/form_field";
@import "components/date_picker";
@import "components/popups";
@import "components/pagination";
@import "components/table-large";
@import "components/icons";
@import "components/animations";

/* Sections */
@import "section/side-menu";
@import "section/top-menu";

/* Pages / Views */
@import "pages/personal_data";
@import "pages/general";
@import "pages/links";
@import "pages/banners";
@import "pages/postback";
@import "pages/details";
@import "pages/payout";

* {
    box-sizing: border-box;
}
[class*="col-"] {
    float:left;
}

h1 {
    margin: 0;
    padding:0;
}

h2 {
    @include text-page-header;
    margin: 0;
    padding: 2px 18px;
    @include border1pxgrey('bottom');
}

h3 {
    @include text-section-header;
    margin: 0;
    padding-left: 18px;
}

p {
    @include text-other;
}

body {
    background-color: $color-background-dark;
}

.content {
    margin-left: $side-menu-mobile-width;
    margin-top: 0;
    padding: 16px 18px 0;
    transition: width, .3s;
}

@media(min-width: 768px) {
    h3 {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .content {
        margin-left: $side-menu-expand-width;
        margin-top: 60px;
        &--margin {
            margin-left: $side-menu-mobile-width;
        }
    }
}