@import "variables";
@import "normalize";
@import "layout";
@import "mixins";
/* Components */
@import "components/form_field";

/* Sections */
@import "section/registration_form";
@import "section/side-menu";
@import "section/top-menu";

/* Pages / Views */
@import "pages/registration";

/* Grid */

$grid-columns: 12;

@for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
        width: percentage($i / $grid-columns);
    }
    .col-md-#{$i} {
        width: percentage($i / $grid-columns);
    }
    .col-sm-#{$i} {
        width: percentage($i / $grid-columns);
    }
    .col-offset-#{$i} {
        margin-left: percentage($i / $grid-columns);
    }
};

* {
    box-sizing: border-box;
};
[class*="col-"] {
    float:left;
};

.row::before,
.row::after {
    content:"";
    display: table ;
    clear: both;
}

h1 {
    @include text-page-header;
};
h2 {
    @include text-section-header;
};
p {
    @include text-other;
};
.container {
    width: 1280px;
    @include margin-auto;
};

body {
    background-color: $color-background;
    margin: 0;
    padding: 0;
}