@import "variables";
@import "normalize";
@import "layout";
@import "mixins";
/* Components */
@import "components/form_field";

/* Sections */
@import "section/registration_form";
@import "section/side-menu";
@import "section/top-menu";

/* Pages / Views */
@import "pages/registration";
@import "pages/general";
@import "pages/links";
@import "pages/banners";
/* Grid */

$grid-columns: 12;

@for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
        width: percentage($i / $grid-columns);
    }
    .col-md-#{$i} {
        width: percentage($i / $grid-columns);
    }
    .col-sm-#{$i} {
        width: percentage($i / $grid-columns);
    }
    .col-offset-#{$i} {
        margin-left: percentage($i / $grid-columns);
    }
};

* {
    box-sizing: border-box;
};
[class*="col-"] {
    float:left;
};

.row::before,
.row::after {
    content:"";
    display: table ;
    clear: both;
}

h1 {
    @include text-page-header;
    margin: 0;
    padding: 0;
    display: inline;
};
h2 {
    @include text-section-header;
    margin: 0;
    padding: 0;
};
p {
    @include text-other;
};
.container {
    max-width: 1280px;
    width: 100%;
    @include margin-auto;
};

body {
    background-color: $color-background-dark;
};
.content {
    margin-left: $side-menu-mobile-width;
    margin-top: 0;
    padding: 16px 18px 0;
};
@media (min-width: 992px) {
    .content {
        margin-left: $side-menu-width;
        margin-top: 54px;
        &--margin {
            margin-left: $side-menu-mobile-width;
        };
    };
};