.date-picker {
    width: 100%;
    padding: 33px 0 26px;
    margin-bottom: 40px;
    text-align: center;
    @include border1pxgrey('bottom');
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    &__input-from, &__input-until {
        height: 40px;
        border: 1px solid $color-light-grey;
        @include text (14px, 300, 40px, $color-black);
        &::-webkit-datetime-edit {
            padding-left: 16px;
        }
        &::-webkit-inner-spin-button { 
            display: none; 
        }
        &::-webkit-calendar-picker-indicator {
            padding-right: 10px;
            height: 50%;
            opacity: 0;
        }
        &::-webkit-clear-button {
            display: none;
        }
    }
    &__input-from {
        &:focus {
            outline: none;
            border: 2px solid $color-light-orange;
            z-index: 8;
        }
        &-wrap {
            position: relative;
            margin-bottom: 10px;
        }
        &-icon {
            width: 13px;
            height: 13px;
            z-index: 10;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            pointer-events:none;
        }
    }
    &__input-until {
        &:focus {
            outline: none;
            border: 2px solid $color-light-orange;
        }
        &-icon {
            width: 13px;
            height: 13px;
            z-index: 10;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            pointer-events:none;
        }
        &-wrap {
            position: relative;
            margin-bottom: 10px;
        }
    }
    &__button {
        @include button(40px, 'orange');
        position: relative;
        &-icon {
            position: absolute;
            top: 50%;
            left: 50;
            transform: translate(-50%, -50%);
            height: 15px;
            width: 15px;
            fill: $color-white;
        }
    }
}
@media (min-width: 768px) {
    .date-picker {
        flex-flow: row;
        &__input {
            &-from {
                position: relative;
                border-right: none;
                border-radius: 5px 0 0 5px;
                width: 155px;
            }
            &-until {
                position: relative;
                margin-left: -5px;
                border-left: none;
                border-radius: 0 5px 5px 0;
                width: 176px;
                &:after {
                    content:"";
                    height: 28px;
                    width: 1px;
                    @include border1pxgrey("left");
                    position: absolute;
                    top: 5px;
                    left: 0px;
                    z-index: 3;
                }
            }
            &-from-wrap, &-until-wrap {
                margin-bottom: 0;
            }
        }
        &__button {
            margin-left: 13px;
        }
    }
}