input[type=range].postback__range-input {
    -webkit-appearance: none;
    width: 100%;
    margin: 9px 0;
    position: relative;
  }
  input[type=range].postback__range-input:focus {
    outline: none;
  }
  input[type=range].postback__range-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: $color-orange;
  }
  input[type=range].postback__range-input::-webkit-slider-thumb {
    width: 0;
    height: 50px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 22px solid $color-orange;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;

  }
  input[type=range].postback__range-input:focus::-webkit-slider-runnable-track {
    background: $color-light-orange;
  }
  input[type=range].postback__range-input::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: $color-light-grey;
  }
  input[type=range]::-moz-range-progress { 
    height: 6px;
    background: $color-orange;
  }
  input[type=range].postback__range-input::-moz-range-thumb {
    width: 0;
    height: 30px;
    border-top: none;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 22px solid $color-orange;
    border-radius: 0;
    background: transparent;
    cursor: pointer;
  }
  input[type=range].postback__range-input::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].postback__range-input::-ms-fill-lower {
    background: $color-orange;

  }
  input[type=range].postback__range-input::-ms-fill-upper {
    background: $color-light-grey;
  }
  input[type=range].postback__range-input::-ms-thumb {
    height: 24px;
    width: 30px;
    border-radius: 0px;
    background: $color-orange;
    cursor: pointer;
    height: 6px;
  }
  input[type=range].postback__range-input:focus::-ms-fill-lower {
    background: $color-light-grey;
  }
  input[type=range].postback__range-input:focus::-ms-fill-upper {
    background: $color-light-grey;
  }
.postback__range-input:before {
    content: '0';
    position: relative;
    display: block;
    left: 0;
    top: -15px;
}
.postback__range-input:after {
  content: '168';
  position: relative;
  display: block;
  right: 0;
  top: -15px;
}
.postback__range-value {
  position: relative;
  top: 0;
  left: 0;
}