.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    &__link {
        @include links('large');
        line-height: 40px;
        width: 40px;
        text-decoration: none;
        &:hover {
            color: $color-dark-grey;
            background-color: $color-background;
        }
    }
    &__icon {
        width: 16px;
        height: 10px;
    }
}