.table-large {
    margin: 0 auto;
    width: 1020px;
    border-collapse: collapse;
    margin-bottom: 22px;
    &__heading {
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        transition: 0.3s;
        &:hover {
            background-color: $color-background;
            color: $color-black;
        }
        &:hover &-icon {
            visibility: visible;
        }
        &-icon {
            visibility: hidden;
            width: 7px;
            height: 5px;
            fill: $color-grey;
            margin-bottom: 2px;
            margin-left: 5px;
            margin-right: 10px;
        }
    }
    & th {
        @include text(13px, bold, 15px, $color-grey);
        @include border1pxgrey('bottom');
        height: 60px;
        text-align: left;
    }
    & td {
        @include text(13px, lighter, 17px, $color-black);
        @include border1pxgrey('bottom');
        height: 60px;
        padding-left: 10px;
    }
    & tr {
        transition: 0.3s;
        &:not(:first-of-type):hover {
        background-color: $color-background;
        }
    }
    &-wrapper {
        overflow-x: auto;
    }
}