.side-menu {
    background-color: $color-black;
    @include text(14px, lighter, 42px, $color-grey);
    position: fixed;
    height: 100%;
    width: 188px;
    z-index: 2;
    &__list {
        list-style: none;
        margin: 0 0 15px;
        padding: 0;
        &-item {
            height: 38px;
            padding-left: 14px;
            border-left: 4px solid transparent;
            cursor: pointer;
            &:hover {
                color: $color-white;
                border-left: 4px solid $color-orange;
                background-color: $color-dark-grey;
            };
        };
    };
    &__icon {
        fill: $color-grey;
        max-width: 20px;
        max-height: 14px;
    };
    &__img-wrapper {
        padding: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    };
    &__logo {
        display: block;
    };
    &__hamurger {
        display: block;
    };
    &__chat {
        width: 100%;
        padding: 25px 18px;
        border-top: 2px solid $color-dark-grey;
        letter-spacing: -0.28px;
        @include text(14px, 500, 42px, $color-grey);
        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
        };
        &-link {
            @include links('chat');
        };
        &-portrait {
            display: block;
            float:left;
            margin-right: 10px;
        };
    };
}