.top-menu {
    position: static;
    height: 100%;
    width: $side-menu-mobile-width;
    margin-left: 0;
    background-color: $color-white;
    &__list {
        margin: 0;
        padding: 0;
        height: 42px;
        line-height: 42px;
        list-style-type: none;
        &-item {
            margin: 0;
        };
    };
    &__username {
        @include links('small');
        line-height: 42px;
    };
    &__icon {
        width: 20px;
        height: 17px;
        fill: $color-dark-grey;
        margin: 0 18px;
    };
    &__notifications {
        min-height: 84px;
        &-list {
            display: none;
            width: 100%;
            list-style-type: none;
            background-color: $color-background;
            padding: 10px 18px 22px;
            @include text(12px, regular, 26px, $color-blue);
        };
        &-close {
            display:none;
        };
    };
    &__wallet {
        @include text(20px, normal, 42px, $color-dark-grey);
        &-list {
            display: none;
            width: 100%;
            list-style-type: none;
            @include text (12px, regular, 26px, $color-dark-grey);
            background-color: $color-background;
            padding: 10px 18px 22px;
        };
    };
    &__arrow-up {
        display: none;
    };
    &__arrow-down {
        display: none;
    };
};
.top-menu--expand {
    width: $side-menu-width;
    &-notifications .top-menu__notifications-list {
        display: block;
    };
    &-wallet .top-menu__wallet-list {
        display: block;
    };
};

@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .top-menu {
        position: fixed;
        top: 0;
        margin-left: $side-menu-width;
        height: 60px;
        width: calc(100% - #{$side-menu-width});
        max-width: 1092px;
        border-bottom: 1px solid $color-light-grey;
        border-right: 1px solid $color-light-grey;
        &__list {
            float: right;
            height: 100%;
            line-height: 60px;
            &-item {
                display: inline-block;
                height: 100%;
            };
        };
        &__user {
            border-left: 1px solid $color-light-grey;
            &name {
                position: relative;
                top: -4px;
                line-height: 60px;
                padding-right: 18px;
            };
        };
        &__notifications {
            position: relative;
            min-height: 60px;
            &-bell {
                float: left;
            }
            &-list {
                position: absolute;
            };
            &:hover &-list {
                display: block;
            };
            &:hover .top-menu__user {
                display: none;
            };
            &:hover &-close {
                display: inline-block;
            };
            &-close {
                margin-left: 145px;
            };
        };
        &__wallet {
            line-height: 60px;
            border-left: 1px solid $color-light-grey;
            border-right: 1px solid $color-light-grey;
            position: relative;
            &:hover {
                color: $color-black;
                background-color: $color-background;
            };
            &:hover &-list {
                display: block;
            };
            &:hover .top-menu__arrow-up {
                display: inline-block;
            };
            &:hover .top-menu__arrow-down {
                display: none;
            };
            &-list {
                position: absolute;
            };
        };
        &__arrow-down {
            display: inline-block;
        };
        &__exit {
            border-left: 1px solid $color-light-grey;
        };
        &--expand {
        width: calc(100% - #{$side-menu-mobile-width});
        margin-left: $side-menu-mobile-width;
        max-width: 1226px;
        };
    };
};
@media (min-width: 1200px) {

}