.top-menu {
    position: static;
    margin-left: 0;
    background-color: $color-black;
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        &-item {
            margin: 0;
            &--trigger {
                cursor: pointer;
            }
        }
    }
    &__user-tooltip {
        display: none;
    }
    &__username {
        @include links('small');
        line-height: 42px;
    }
    &__icon {
        width: 20px;
        height: 17px;
        fill: $color-dark-grey;
        margin: 0 18px;
    }
    &__notifications {
        &-link {
            @include links(12px);
        }
        &-dot {
            @include dot('orange');
            float: right;
            margin-top: 9px;
        }
        &-list {
            display: none;
            width: 100%;
            list-style-type: none;
            background-color: $color-background;
            padding: 10px 18px 22px;
            @include text(12px, normal, 26px, $color-blue);
        }
        &-close {
            display:none;
        }
        &-bell {
            position: relative;
            display: inline-block;
            width: 100%;
            &-dot {
                @include dot('orange');
                position: absolute;
                top: 6px;
                right: 18px;
            }
        }
    }
    &__wallet {
        @include text(20px, normal, 42px, $color-dark-grey);
        &-list {
            display: none;
            width: 100%;
            list-style-type: none;
            @include text (12px, normal, 26px, $color-dark-grey);
            background-color: $color-background;
            padding: 10px 18px 22px;
            &-item {
                display: flex;
            }
            &-amount {
                color: $color-black;
                margin-left: auto;
            }
        }
    }
    &__arrow-up {
        display: none;
    }
    &__arrow-down {
        display: none;
    }
    &__exit {
        cursor: pointer;
        &-tooltip {
            display: none;
        }
    }
}
.top-menu--expand {
    &-notifications .top-menu__notifications-list {
        display: block;
    };
    &-wallet .top-menu__wallet-list {
        display: block;
    }
    .top-menu__notifications-bell-dot {
        left: 28px;
    }
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .top-menu {
        position: fixed;
        top: 0;
        margin-left: $side-menu-expand-width;
        background-color: $color-white;
        width: calc(100% - #{$side-menu-expand-width});
        border-bottom: 1px solid $color-light-grey;
        &__list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &-item {
                display: inline-block;
                height: 100%;
                line-height: 60px;
                @include border1pxgrey('right');
                &:nth-of-type(1) {
                    @include border1pxgrey('left');
                }
            }
        }
        &__user {
            cursor: pointer;
            position: relative;
            &:hover .top-menu__user-tooltip {
                visibility: visible;
            }
            &name {
                position: relative;
                top: -4px;
                line-height: 60px;
                padding-right: 18px;
            }
            &-tooltip {
                @include text(14px,lighter, 20px, $color-white);
                display: block;
                visibility: hidden;
                width: 100px;
                background-color: black;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                position: absolute;
                top: 100%;
                left: 50%; 
                margin-left: -50px;
                z-index: 99;
            }
        }
        &__notifications {
            position: relative;
            min-height: 60px;
            &-list {
                position: absolute;
            }
            &-bell {
                &:hover &-dot {
                    visibility: hidden;
                }
                &:hover .top-menu__notifications-list {
                    display: block;
                    width: 238px;
                }
                &:hover .top-menu__user {
                    visibility: hidden;
                }
                &:hover .top-menu__notifications-close {
                    display: inline-block;
                }
                &-dot {
                    @include dot('orange');
                    position: absolute;
                    top: 15px;
                }
            }
            &-close {
                margin-left: 145px;
            }
        }
        &__wallet {
            position: relative;
            &:hover {
                color: $color-black;
                background-color: $color-background;
            }
            &:hover &-list {
                display: block;
            }
            &:hover .top-menu__arrow-up {
                display: inline-block;
            }
            &:hover .top-menu__arrow-down {
                display: none;
            };
            &-list {
                position: absolute;
            }
        }
        &__arrow-down {
            display: inline-block;
        }
        &__exit {
            position: relative;
            &:hover .top-menu__exit-tooltip {
                visibility: visible;
            }
            &-tooltip {
                @include text(14px,lighter, 20px, $color-white);
                    display: block;
                    visibility: hidden;
                    width: 100px;
                    background-color: black;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 6px;
                    position: absolute;
                    top: 100%;
                    left: 50%; 
                    margin-left: -50px;
                    z-index: 99;
            }
        }
        &--expand {
        width: calc(100% - #{$side-menu-mobile-width});
        margin-left: $side-menu-mobile-width;
        }
    }
}
@media (min-width: 1200px) {

}