.top-menu {
    position: fixed;
    background-color: $color-white;
    height: 60px;
    margin-left: 188px;
    width: 1092px;
    border-bottom: 1px solid $color-light-grey;
    border-right: 1px solid $color-light-grey;
    &__list {
        float: right;
        height: 100%;
        margin: 0;
        padding: 0;
        line-height: 60px;
        list-style-type: none;
    }
    &__list-item {
        display: inline-block;
        margin: 0;
        height: 100%;
    }
    &__wallet {
        @include text(20px, normal, 60px, $color-dark-grey);
        border-left: 1px solid $color-light-grey;
        border-right: 1px solid $color-light-grey;
    }
    &__user {
        border-left: 1px solid $color-light-grey;
        border-right: 1px solid $color-light-grey;
        line-height: 60px;
        vertical-align: middle;
    }
    &__username {
        @include links('small');
        line-height: 60px;
    }
    &__icon {
        width: 20px;
        height: 17px;
        fill: $color-dark-grey;
        line-height: 60px;
        display: inline-block;
        margin: 0 18px;
    }
}