.banners {
    background-color: $color-white;
    margin-bottom: 22px;
    &__container {
        margin: 0 auto;
        max-width: 684px;
        text-align: center;
    }
    &__table {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
        min-width: 500px;
        &-name {
            @include text-section-header;
        }
        &-link {
            @include links('large');
        }
        &-row {
            &:hover {
                background-color: $color-background;
            }
            &:hover .links__icon {
                visibility: visible;
            }
        }
        &-row td {
            @include border1pxgrey('bottom');
        }
        &-wrapper {
            display: block;
            width: 100%;
            overflow-x: auto;
        }
    }
    &__icon {
        display: block;
        width: 16px;
        visibility: hidden;
    }
    &__button {
        @include button(126px, 'orange');
        margin: 23px 0;
    }
}