.links {
    background-color: $color-white;
    margin-bottom: 22px;
    &__container {
        margin: 0 auto;
        max-width: 684px;
        text-align: center;
        padding: 0 18px;
        width: 100%;
        overflow-x: auto;
    }
    &__table {
        text-align: left;
        width: 100%;
        white-space: nowrap;
        border-collapse: collapse;
        &-name {
            @include text-section-header;
        }
        &-link {
            @include links('large');
        }
        &-row {
            transition: 0.3s;
            &:hover {
                background-color: $color-background;
            }
            &:hover .links__icon {
                visibility: visible;
            }
            td {
                @include border1pxgrey('bottom');
            }
        }
        &-wrapper {
            display: block;
            width: 100%;
            overflow-x: auto;
        }
    }
    &__icon {
        display: block;
        width: 16px;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.3)
        }
    }
    &__button {
        @include button(126px, 'orange');
        margin: 23px 0;
    }
}
@media(min-width: 992px) {
    .links__icon {
        visibility: hidden;
    }
}