.postback {
    background-color: $color-white;
    padding-bottom: 22px;
    margin-bottom: 22px;
    width: 100%;
    &__text {
        @include text(14px, lighter, 37px, $color-black);
        width: 100%;
        max-width: 1056px;
        padding-top: 20px;
        margin: 0 auto;
        flex-basis: 100%;
    }
    &__container {
        width: 100%;
        max-width: 1056px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__row {
        padding: 0 18px;
        &-options-wrapper {
            padding-bottom: 35px;
            padding-top: 20px;
            @include border1pxgrey('bottom');
        }
    }
    &__textarea {
        display: flex;
        flex-flow: column wrap;
        max-width: 50%;
        &-input {
            &:focus {
                outline: none;
                border: 2px solid $color-light-orange;
            }
            @include border1pxgrey('all');
            border-radius: 3px;
            height: 186px;
            width: 100%;
        }
    }
    &__options {
        display: flex;
        flex-flow: column nowrap;
        max-width: 330px;
        width: 100%;
    }
    &__status {
        display: flex;
        flex-flow: column nowrap;
        height: 176px;
        overflow-x: auto;
        &-wrapper {
            width: 50%;
        }
        &-checkbox  {
            width: 18px;
            height: 18px;
            opacity: 0;
            position: relative;
            left: 11px;
            &:checked + &-icon {
                background-color: $color-grey;
            }
            &-label {
                @include text-other;
            }
            &-icon {
                display: inline-block;
                position: relative;
                right: 11px;
                width: 18px;
                height: 18px;
                @include border1pxgrey('all');
            }
        }
    }
    &__range {
        padding-left: 18px;
        width: 50%;
        @include border1pxgrey('left');
    }
    &__label-grey {
        @include text-section-header;
    }
    &__dropdown {
        &:focus {
            outline: none;
            border: 2px solid $color-light-orange;
        }
        @include text-other;
        height: 40px;
        padding-left: 12px;
        @include border1pxgrey('all');
        border-radius: 3px;
    }
    &__button {
        @include button(125px, 'orange');
        &-wrapper {
            @include border1pxgrey('top');
            text-align: right;
            padding-right: 23px;
            padding-top: 18px;
        }
    }
    &--red-text {
        color: $color-red;
        text-transform: uppercase;
    }
}