.postback {
    background-color: $color-white;
    padding-bottom: 22px;
    margin-bottom: 22px;
    width: 100%;
    &__text {
        @include text(14px, lighter, 42px, $color-black);
        width: 100%;
        max-width: 1056px;
        margin: 0 auto;
    }
    &__container {
        width: 100%;
        max-width: 1056px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__row {
        padding: 0 18px;
        &-options-wrapper {
            padding-bottom: 35px;
            padding-top: 12px;
            @include border1pxgrey('bottom');
        }
    }
    &__textarea {
        display: flex;
        flex-flow: column wrap;
        &-input {
            @include border1pxgrey('all');
            border-radius: 3px;
        }
    }
    &__options {
        display: flex;
        flex-flow: column nowrap;
        max-width: 330px;
        width: 100%;
    }
    &__status {
        display: flex;
        flex-flow: column nowrap;
        height: 176px;
        overflow-x: auto;
        &-wrapper {
            width: 50%;
        }
        &-checkbox-label {
            @include text-other;
        }
    }
    &__range {
        padding-left: 18px;
        width: 50%;
        @include border1pxgrey('left');
    }
    &__label-grey {
        @include text-section-header;
    }
    &__dropdown {
        @include text-other;
        height: 40px;
        padding-left: 12px;
        @include border1pxgrey('all');
        border-radius: 3px;
        & option {
            @include text-other;
        }
    }
    &__button {
        @include button(125px, 'orange');
        &-wrapper {
            @include border1pxgrey('top');
            text-align: right;
            margin-right: 23px;
            padding-top: 18px;
        }
    }
    &--red-text {
        color: $color-red;
        text-transform: uppercase;
    }
}